doctype html
html
   head
      title Adrian's image delivery service
   body
      h3 Welcome to Adrian's image delivery service
      p.stats#title Statsistics:
      p.stats#originalFiles The number of original files: #{origFilesNum}
      p.stats#resizedFiles The number of resized files #{resFilesNum}
      p.stats#cacheHits The number of cache hits: #{cacheHits}
      p.stats#cacheMisses The number of cache misses: #{cacheMisses}
      p.stats#other Additional information: #{additionalInfo}